@model huaxi.Areas.Admin.Models.RegisterModel

@{
    ViewBag.Title = "Create";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<body id="login">
    <div class="container">
        <div class="form-signin">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <h2 class="form-signin-heading">注册</h2>
                @Html.ValidationMessageFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "input-block-level", placeholder = "账号" })
                @Html.ValidationMessageFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @class = "input-block-level", placeholder = "密码" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input-block-level", placeholder = "确认密码" })
                @Html.ValidationMessageFor(model => model.YZM)
                <img src="YZM" alt="验证码" />
                @Html.EditorFor(model => model.YZM)
                <div class="span2"></div>
                <button class="btn btn-large btn-primary" type="submit">注册</button>
            }
        </div>
    </div>
    <!-- /container -->
</body>


