@model IEnumerable<huaxi.ViewArticle>
@using HtmlPaginationBar;

@{
    ViewBag.Title = "学习信息列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_StudyLayout")
<div class="col-md-9">
    <div class="panel panel-info">
        <div class="panel-heading">
            @if (HttpContext.Current.Request["status"] != "-1")
            {
                <div class="btn-group">
                    <a href="@Url.Action("Create", new { type = @HttpContext.Current.Request["type"] })">
                        <button class="btn btn-success">
                            <i class="icon-plus icon-white"></i>
                            &nbsp添加文章
                        </button>
                    </a>
                </div>
                <div class="btn-group">
                    <button class="btn btn-danger ajax-post confirm" target-form="id" url="@Url.Action("Delete", "Document", new { type = @HttpContext.Current.Request["type"] })">
                        <i class="icon-remove icon-white"></i>
                        &nbsp删除
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info ajax-post confirm" target-form="id" url="@Url.Action("Delete", "Document", new { status = 0, type = @HttpContext.Current.Request["type"] })">
                        <i class="icon-ok-sign icon-white"></i>
                        &nbsp启用
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-warning ajax-post confirm" target-form="id" url="@Url.Action("Delete", "Document", new { status = 1, type = @HttpContext.Current.Request["type"] })">
                        <i class="icon-minus-sign icon-white"></i>
                        &nbsp禁用
                    </button>
                </div>
                <div class="btn-group">
                    <a href="@Url.Action("Create", new { type = @HttpContext.Current.Request["type"] })">
                        <button class="btn btn-primary">
                            <i class="icon-tag icon-white"></i>
                            &nbsp添加分类
                        </button>
                    </a>
                </div>
            }
            else
            {
                <div class="btn-group">
                    <button class="btn btn-danger ajax-post confirm" target-form="id" url="@Url.Action("Destroy")">
                        <i class="icon-trash icon-white"></i>
                        &nbsp彻底删除
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info ajax-post confirm" target-form="id" url="@Url.Action("Delete", "Document", new { status = 0 })">
                        <i class="icon-ok-sign icon-white"></i>
                        &nbsp恢复
                    </button>
                </div>
            }
            <label class="pull-right">
                <input aria-controls="example2" type="text" name="title" placeholder="输入关键字按回车搜索" class="search-input form-control none-radius" value="@ViewBag.wd">
                <a class="sch-btn" href="javascript:;" id="search" url="@Url.Action("Index", "Document", new { type = @HttpContext.Current.Request["type"], status = @HttpContext.Current.Request["status"] })">
                    <i class="icon-search"></i>
                </a>
            </label>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr role="row">
                        <th style="width: 10px">
                            <input class="check-all" type="checkbox">
                        </th>
                        <th>编号</th>
                        <th>标题</th>
                        <th>最后更新</th>
                        <th>分类</th>
                        <th>状态</th>
                        <th>浏览</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody aria-relevant="all" aria-live="polite" role="alert">
                    @foreach (var item in Model)
                    {
                        <tr @if (item.Status == 1) { @Html.Raw(" class='error'")    }>
                            <td>
                                <input type="checkbox" name="id" class="id" value="@item.ID">
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.UpdateTime)</td>
                            @if (HttpContext.Current.Request["status"] == "-1")
                            {
                                <td>@Html.DisplayFor(modelItem => item.Cate)</td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.StatusName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Views)</td>
                            <td>
                                @if (HttpContext.Current.Request["status"] != "-1")
                                {
                                    @Html.ActionLink("编辑", "Edit", new { id = item.ID, type = @HttpContext.Current.Request["type"] })
                                    <label>|</label>
                                    @Html.ActionLink("删除", "Delete", new { id = item.ID, type = @HttpContext.Current.Request["type"] })
                                }
                                else
                                {
                                    @Html.ActionLink("彻底删除", "Destroy", new { id = item.ID })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="countinfo">
            <h5>
                当前为第 @ViewBag.StartNum 到 @ViewBag.EndNum 条 总共 @ViewBag.Count 条
            </h5>
        </div>
        <div class="page pull-right">
            @*@Html.PaginationBar(new PaginationBarBilder(@Url.Action("Index") + "?page={0}", @ViewBag.PageCount, @ViewBag.Page))*@
        </div>
    </div>
</div>





