@model huaxi.Areas.Admin.Models.ArticleModel

@{
    ViewBag.Title = "编辑新闻";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_DocumentLayout")

<div class="span9" id="content">

    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">@ViewBag.Title 作者:@User.Identity.Name</div>
            </div>
            <div class="block-content collapse in">
              <div class="span12 form-horizontal">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <legend>
                                <button class="btn btn-inverse" onclick="window.location='@Url.Action("Index", "Document", new { type = @HttpContext.Current.Request["type"] })'" type="button"><i class="icon-arrow-left icon-white"></i>&nbsp返回</button>
                                @Html.HiddenFor(m => m.Document.ID)
                                @Html.HiddenFor(m => m.Document.CateID)
                            </legend>

                            <div class="control-group">
                                @Html.LabelFor(model => model.Document.Title, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Document.Title, new { @class = "span6" })
                                    @Html.ValidationMessageFor(model => model.Document.Title)
                                </div>
                            </div>
                            @if (HttpContext.Current.Request["type"] != "3")
                            {
                                <div class="control-group">
                                    @Html.LabelFor(model => model.BeFrom, new { @class = "control-label" })
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.BeFrom, new { @class = "span6" })
                                        @Html.ValidationMessageFor(model => model.BeFrom)
                                    </div>
                                </div>
                                <div class="control-group">
                                    @Html.LabelFor(model => model.Document.Description, new { @class = "control-label" })

                                    <div class="controls">
                                        @Html.TextAreaFor(model => model.Document.Description, new { @class = "span6" })
                                        @Html.ValidationMessageFor(model => model.Document.Description)
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.Document.Description)
                            }
                            <div class="control-group">
                                @Html.LabelFor(model => model.Contents, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextAreaFor(model => model.Contents, new { @class = "span11", style = "height:300px" })
                                    @Html.ValidationMessageFor(model => model.Contents)
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i>&nbsp发布</button>
                                <button type="reset" class="btn"><i class="icon-trash"></i>&nbsp重置</button>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
<script src="~/Content/Scripts/kindeditor/kindeditor-min.js"></script>
<script src="~/Content/Scripts/kindeditor/lang/zh_CN.js"></script>
@section Js{
    <script src="~/Content/Scripts/KindEditor.js"></script>
}