<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-full">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-expend" href="javascript:void(0)">管理后台</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-nav-active">
                <li class=""><a href="@Url.Action("Index", "Home")" class="topNav">首页</a></li>
                <li class=""><a href="@Url.Action("Index", "Document")" class="topNav">时讯</a></li>
                <li class=""><a href="@Url.Action("Index", "Study")" class="topNav">学习</a></li>
                <li class=""><a href="@Url.Action("Index", "Travel")" class="topNav">旅游</a></li>
                <li class=""><a href="@Url.Action("Index", "Trade")" class="topNav">交易</a></li>
                <li class=""><a href="@Url.Action("Index", "Takeout")" class="topNav">宅必备</a></li>
                <li class=""><a href="@Url.Action("Index", "Job")" class="topNav">创业</a></li>
                <li class=""><a href="@Url.Action("Index", "Forum")" class="topNav">视点</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="glyphicon glyphicon-user"></span>&nbsp @User.Identity.Name <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "UserProfile")">个人信息</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logoff", "Account")">退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>